header {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    gap: 24px;

    background-image: url('../../assets/pexels-fox-3829230.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-nav {
    min-height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.header-links {
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--white);
    transition: 1s all ease;
}

.header-links:hover{
    font-weight: bold;
    background-color: var(--blackZeroPointFiveOpacity);
    padding: 8px 12px;
    border-radius: 3px;
    border: none;
}

.container-title-text {
    flex: 1 1 50%;
    flex-direction: column;
    gap: 16px;
    color: var(--white);
}

.container-title-text h1, .container-title-text h2 {
    background-color: var(--blackZeroPointFourOpacity);
    padding: 16px 48px;
    border-radius: 5px;
}

.container-title-text h1 {
    font-size: 48px;
}

.container-title-text h2 {
    font-size: 38px;
}


/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* Para telas com largura entre 769px e 1279px */
@media (min-width: 769px) and (max-width: 1279px){
    .container-title-text h1 {
        font-size: 38px;
    }
    
    .container-title-text h2 {
        font-size: 28px;
    }
}

/* Para telas com largura entre 481px e 768px */
@media (min-width: 481px) and (max-width: 768px){
    .container-nav {
        justify-content: center;
    }

    .header-links:hover{
        padding: 4px 8px;
    }

    .container-title-text h1 {
        font-size: 30px;
        text-align: center;
    }
    
    .container-title-text h2 {
        font-size: 20px;
    }
}

/* Para telas com largura até e 480px */
@media screen and (max-width: 480px){
    .container-nav {
        justify-content: center;
        flex-wrap: wrap;
        margin: 8px;
    }

    .header-links:hover{
        padding: 4px 8px;
    }

    .container-title-text h1 {
        font-size: 20px;
        text-align: center;
    }
    
    .container-title-text h2 {
        font-size: 16px;
        text-align: center;
    }
}
