
.rodape {
    background-color: var(--cinzaEscuro);
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-around;

    color: var(--branco);
}

.rodape div {
    display: flex;
    height: 100%;
}

.textoRodape {
    flex: 1 1 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.textoRodape a {
    color: var(--branco);
    text-decoration: none;
    font-weight: bold;
}

.textoRodape a:hover {
    background-color: var(--pretoZeroPontoCincoOpacidade);
    padding: 8px 12px;
    border-radius: 3px;
    border: none;
}

.setaRodape {
    /* flex: 1 1 50%; */
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    text-decoration: none;
}

.fa-circle-arrow-up {
    font-size: 48px;
    color: var(--branco);
}

.fa-circle-arrow-up:hover{
    color: var(--cinzaEscuro);
    background-color: var(--cinzaClaro);
    border: 2px solid var(--cinzaClaro);
    border-radius: 50%;
}

