.linhaComSeta {
    /* background-color: palegreen; */
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.linha {
    width: 150px;
    border-bottom: 2px dotted var(--cinzaEscuroClaro);
}

.fa-angles-down {
    color: var(--cinzaEscuroClaro);
}

/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* Para telas com largura entre 769px e 1279px */
@media screen and (min-width: 769px) and (max-width: 1279px){
    
}

/* Para telas com largura entre 481px e 768px */
@media screen and (min-width: 481px) and (max-width: 768px){
    
}

/* Para telas com largura entre 320px e 480px */
@media screen and (max-width: 480px){
    .linhaComSeta {
        gap: 20px;
    }   
}