#sectionTecnologias {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cinzaClaroEscuro);
}

.containerCirculosDeTecnologias {
    /* background-color: bisque; */
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circulosDeTecnologias {
    background-color: var(--cinzaClaro);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circulosDeTecnologias i {
    font-size: 60px;
    color: var(--cinza);
}