#sectionContatos {
    background-color: var(--cinzaClaroEscuro);
    width: 100%;
}

.sectionContatos {
    flex-direction: column;
}

.containerLinksContatos {
    width: 100%;
    min-height: 36.5vh;
    justify-content: space-around;
}

.linksContatos {
    text-decoration: none;
    border-radius: 25px;
    padding: 16px 0;
    width: calc((100% / 6) - 5px);
    flex-direction: column;
    gap: 20px;
    color: var(--cinzaEscuroClaro);
    transition: 0.3s all;
}

.linksContatos i {
    font-size: 60px;
    width: 100%;
    text-align: center;
    color: var(--cinzaEscuroClaro);
}

.linksContatos:hover {
    border: 3px solid var(--cinzaEscuroClaro);
    font-weight: bold;
}

/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* Para telas com largura entre 481px e 768px */
@media screen and (min-width: 481px) and (max-width: 768px){
    .containerLinksContatos {
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    .linksContatos {
        height: 80px;
        width: 80px;
    }

    .linksContatos i {
        font-size: 50px;
    }
}

/* Para telas com largura até e 480px */
@media screen and (max-width: 480px){
    .containerLinksContatos {
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }

    .linksContatos {
        height: 70px;
        width: 70px;
    }

    .linksContatos i {
        font-size: 40px;
    }
}