#sectionSobreMim {
    width: 100%;
    align-items: normal;
    background-color: var(--cinzaClaro);
}

.sectionSobreMim {
    flex-direction: column;
}

.containerFotoETextoSobreMim {
    width: 100%;
}

.containerFotoETextoSobreMim figure {
    height: 100%;
    flex: 1 1 30%;
}

.containerFotoETextoSobreMim img {
    border-radius: 50%;
    height: 70%;
}

.containerTextoSobreMim {
    flex: 1 1 70%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    padding: 16px;
    color: var(--cinzaEscuroClaro);
}

