#sectionTecnologias {
    width: 100%;
    background-color: var(--cinzaClaroEscuro);
}

.containerCirculosDeTecnologias {
    width: 100%;
    height: 250px;
    justify-content: space-around;
}

.circulosDeTecnologias {
    background-color: var(--cinzaClaro);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    transition: 1s all ease;
}

.circulosDeTecnologias i {
    font-size: 60px;
    color: var(--cinzaEscuroClaro);
    transition: 1s all ease;
}

.circulosDeTecnologias:hover {
    background-color: var(--cinzaEscuroClaro);
}

.circulosDeTecnologias i:hover {
    color: var(--cinzaClaro);
}