#sectionSobreMim {
    width: 100%;
    align-items: normal;
    background-color: var(--cinzaClaro);
}

.sectionSobreMim {
    /* background-color: papayawhip; */
    flex-direction: column;
}

.containerFotoETextoSobreMim {
    width: 100%;
    margin: 64px 0px;
}

.containerFotoETextoSobreMim figure {
    /* background-color: peachpuff; */
    height: 100%;
    flex: 1 1 30%;
}

.containerFotoETextoSobreMim img {
    border-radius: 50%;
    /* height: 70%; */
    width: 85%;
}

.containerTextoSobreMim {
    flex: 1 1 70%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    padding: 16px;
    color: var(--cinzaEscuroClaro);
}

