#sectionContatos {
    background-color: var(--cinzaClaroEscuro);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionContatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerLinksContatos {
    /* background-color: burlywood; */
    width: 100%;
    height: 250px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.linksContatos {
    text-decoration: none;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
}

.linksContatos i {
    font-size: 60px;
    color: var(--cinzaEscuroClaro);
    transition: 1s all ease;
}

.linksContatos i:hover {
    color: var(--cinzaClaro);
}

.linksContatos:hover {
    background-color: var(--cinzaEscuroClaro);
}