.sectionTitle {
    width: 100%;
    height: 80px;
    margin-top: 60px;
    font-size: 35px;
    color: var(--cinzaEscuroClaro);
}


/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* Para telas com largura entre 769px e 1279px */
@media screen and (min-width: 769px) and (max-width: 1279px){
    .sectionTitle {
        margin-top: 40px;
        font-size: 33px;
    }
}

/* Para telas com largura entre 481px e 768px */
@media screen and (min-width: 481px) and (max-width: 768px){
    .sectionTitle {
        margin-top: 20px;
        font-size: 31px;
    }
}

/* Para telas com largura até e 480px */
@media screen and (max-width: 480px){
    .sectionTitle {
        height: 60px;
        margin-top: 0;
        font-size: 29px;
    }
}