.line-with-arrow {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.line {
    width: 150px;
    border-bottom: 2px dotted var(--lightDarkGray);
}

.fa-angles-down {
    color: var(--lightDarkGray);
}

/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */

/* Para telas com largura até e 480px */
@media screen and (max-width: 480px){
    .LineWithArrow {
        gap: 20px;
    }   
}