:root {
    --pretoZeroPontoCincoOpacidade:rgba(0, 0, 0, 0.5);
    --pretoZeroPontoQuatroOpacidade:rgba(0, 0, 0, 0.4);
    --preto:#000000;
    --branco: white;
    --cinzaEscuro:#282623;
    --cinzaEscuroClaro: #58534E;
    --cinza: #898681;
    --cinzaClaroEscuro:#B9B8B6;
    --cinzaClaro: #DAD9D8;
}
    

body {
    width: 100%;
    height: 100%;
}

.larguraDaPagina {
    width: 1200px;
    /* border: 1px  solid red; */
}