:root {
  --blackZeroPointFiveOpacity:rgba(0, 0, 0, 0.5);
  --blackZeroPointFourOpacity:rgba(0, 0, 0, 0.4);
  --black:#000000;
  --white: #ffffff;
  --darkGrey:#1F1F1F;
  --lightDarkGray: #595957;
  --gray: #898681;
  --darkLightGray:#B9B8B6;
  --lightGray: #DAD9D8;
}
  

body {
  width: 100%;
  height: 100%;
}

.page-width {
  width: 1280px;
}

.display-flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* Para telas com largura entre 769px e 1279px */
@media screen and (min-width: 769px) and (max-width: 1279px){
  .page-width {
      width: 100%;
      padding: 16px;
  }
}

/* Para telas com largura entre 481px e 768px */
@media screen and (min-width: 481px) and (max-width: 768px){
  .page-width {
      width: 100%;
      padding: 16px;
  }
}

/* Para telas com largura até e 480px */
@media screen and (max-width: 480px){
  .page-width {
      width: 100%;
      padding: 16px;
  }
}
