:root {
    --pretoZeroPontoCincoOpacidade:rgba(0, 0, 0, 0.5);
    --pretoZeroPontoQuatroOpacidade:rgba(0, 0, 0, 0.4);
    --preto:#000000;
    --branco: white;
    --cinzaEscuro:#1F1F1F;
    --cinzaEscuroClaro: #595957;
    --cinza: #898681;
    --cinzaClaroEscuro:#B9B8B6;
    --cinzaClaro: #DAD9D8;
}
    

body {
    width: 100%;
    height: 100%;
}

.larguraDaPagina {
    width: 1280px;
    /* border: 1px  solid red; */
}

.displayFlexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* Para telas com largura entre 769px e 1279px */
@media screen and (min-width: 769px) and (max-width: 1279px){
    .larguraDaPagina {
        width: 100%;
        padding: 16px;
    }
}

/* Para telas com largura entre 481px e 768px */
@media screen and (min-width: 481px) and (max-width: 768px){
    .larguraDaPagina {
        width: 100%;
        padding: 16px;
    }
}

/* Para telas com largura entre 320px e 480px */
@media screen and (min-width: 320px) and (max-width: 480px){
    .larguraDaPagina {
        width: 100%;
        padding: 16px;
    }
}


/* media  media  media  media  media  media  media  media  media  media  media */
/* media  media  media  media  media  media  media  media  media  media  media */
/* Para telas com largura entre 769px e 1279px */
/* @media screen and (min-width: 769px) and (max-width: 1279px){
    
} */

/* Para telas com largura entre 481px e 768px */
/* @media screen and (min-width: 481px) and (max-width: 768px){
    
} */

/* Para telas com largura entre 320px e 480px */
/* @media screen and (min-width: 320px) and (max-width: 480px){
    
} */